.quantityIcon {
  background-color: red;
  border-radius: 50%;
  color: white;
  font-weight: 700;
  padding: 2px 6px;
}

.cart {
  margin-right: 20px;
}

.cart img {
  height: 36px;
  width: 36px;
}
