.content {
  align-items: center;
  border: 1px solid gainsboro;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  padding: 20px;
  width: 400px;
}

.content h2 {
  font-size: 1.5em;
  margin-bottom: 12px;
}

.category {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.category span {
  padding: 10px;
  width: 100%;
}

.category_input {
  display: none;
}

.category_input:checked + span {
  background-color: gray;
  border-radius: 5px;
  color: white;
}

.category:hover {
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  outline: 1px solid lightgray;
  outline-offset: -1px;
}

.categories_div {
  display: flex;
  flex-flow: column;
}
