.quantityIcon {
  background-color: red;
  border-radius: 50%;
  color: white;
  font-weight: 700;
  padding: 2px 6px;
}

.cart {
  margin-right: 20px;
  transition: 0.3s;
}

.cart:hover {
  box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, 0.1);
  padding: 5px 3px;
}

.cart img {
  height: 36px;
  width: 36px;
}

.cart button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.logo {
  align-items: center;
  display: flex;
  margin-left: 20px;
}

.logo img {
  height: 60px;
  width: 60px;
}

.logo h1 {
  color: black;
  font-size: 2em;
}
